ReadFilesFromDirectory/bin/Debug/ReadFilesFromDirectory.exe
ReadFilesFromDirectory/bin/Debug/ReadFilesFromDirectory.pdb
ReadFilesFromDirectory/obj/x86/Debug/ReadFilesFromDirectory.csproj.FileListAbsolute.txt
ReadFilesFromDirectory/obj/x86/Debug/ReadFilesFromDirectory.csprojResolveAssemblyReference.cache
ReadFilesFromDirectory/obj/x86/Debug/ReadFilesFromDirectory.exe
ReadFilesFromDirectory/obj/x86/Debug/ReadFilesFromDirectory.pdb